*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
text-align: center;
background-color: teal;
}
button{
    padding: 5px 10px;
    background: #777777;
    color: white;
    border: 20px;
}
main{
    box-sizing: border-box;
    width: 960px;
    margin: 100px 180px;
    background: white;
    padding:   30px 25px;
}
mensagem{
    font-size: large;
    color: teal;
}